<div layout="row">

  <md-input-container class="md-icon-float md-block" flex>
    <label translate="home.widget.user.nickname"></label>
    <md-icon>
      <i class="fa fa-user link"></i>
    </md-icon>
    <input ng-model="userCtrl.nickname"
           ng-model-options="{updateOn:'blur'}"
           ng-change="userCtrl.setName()"
           type="text">
  </md-input-container>

  <md-button ng-if="userCtrl.nickname" class="md-icon-button link" aria-label="setting" ng-click="userCtrl.setting()">
    <i class="fa fa-sign-in fa-2x"></i>
  </md-button>

</div>
