fli-home-widget-user {
  display: block;
}

fli-home-widget-user .md-button.md-icon-button {
  margin: 10px 0;
}

fli-home-widget-user md-input-container {
  margin: 17px 5px 7px 17px;
}

fli-home-widget-user .msg {
  margin: 0 7px 7px 7px;
}
