fli-input {
  display: block;
}

fli-input form {
  margin: 7px;
  padding: 0;
}

fli-input md-input-container {
  margin: 0;
  padding: 0;
}

fli-input .md-errors-spacer {
  display: none;
}

fli-input input.md-input {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border-radius: 0;
  padding: 0;
  outline: 0;
}

fli-input .md-button.md-icon-button {
  margin: 0;
}

fli-input .md-button.md-fab {
  z-index: 0;
  margin: 5px;
  height: 40px;
  width: 40px;
  line-height: 20px;
}

fli-input .md-button.md-icon-button i {
  position: relative;
  margin-top: 3px;
  outline: 0;
}

fli-input #progress {
  bottom: -3px;
  position: absolute;
}

fli-input #progress .md-container {
  height: 2px;
}
