<div layout="row">

  <md-button class="md-fab md-primary link" ng-class="{'md-accent':input.active()}" aria-label="home"
             ng-click="input.home()">
    <md-icon ng-if="!fli.user.data.facebook">face</md-icon>
    <img ng-if="fli.user.data.facebook" ng-src="{{input.img(fli.user.data.facebook)}}" class="user circle" fli-err>
  </md-button>

  <md-button ng-disabled="!fli.focus" class="md-icon-button link" aria-label="navigation" ng-click="input.find()">
    <md-icon ng-bind="{{::input.icon}}"></md-icon>
  </md-button>

  <form name="form" ng-submit="input.find()" flex>
    <md-input-container layout="column">
      <input id="input" ng-focus="input.focus()" autocomplete="off" aria-label="input"
             ng-model="fli.route.input"
             ng-disabled="input.disabled"
             ng-model-options="{updateOn:'blur'}"
             translate translate-attr-placeholder="{{::input.placeholder}}"
             type="{{::input.type}}">
      <md-progress-linear id="progress" md-mode="indeterminate" ng-if="fli.progress"></md-progress-linear>
    </md-input-container>
  </form>

  <md-button ng-if="fli.focus" class="md-icon-button link" aria-label="clear" ng-click="input.clear()">
    <md-icon>close</md-icon>
  </md-button>

  <md-button ng-if="!fli.focus && input.isSetting()" class="md-icon-button link" aria-label="setting"
             ng-click="input.setting()">
    <md-icon>sign_in</md-icon>
  </md-button>

</div>

<fli-input-menu ng-if="fli.focus"></fli-input-menu>

