<div id="wizard">
  <div class="block fa-3x link" layout="row" layout-align="center center">
    <i class="fa fa-magic"></i>
    <div translate="wizard.abracadabra"></div>
  </div>
  <div class="block text-center" translate="wizard.description"></div>

  <div class="block" layout="column" layout-align="center center">
    <form name="code" ng-submit="wizard.setCode()" layout-fill>
      <md-input-container layout="column">
        <label translate="wizard.code"></label>
        <textarea ng-model="wizard.code"
                  autocomplete="off"
                  aria-label="code"
                  ng-model-options="{updateOn:'blur'}"
                  rows="3"></textarea>
      </md-input-container>
      <div layout="row" layout-align="center center">
        <input ng-if="wizard.code" type="submit" translate translate-attr-value="wizard.download">
      </div>
    </form>
  </div>

  <div ng-if="wizard.downloaded" class="block" layout="column" layout-align="center center">
    <form name="link" ng-submit="wizard.setLink()" layout-fill>
      <md-input-container layout="column">
        <label translate="wizard.link"></label>
        <input ng-model="wizard.link"
               autocomplete="off"
               aria-label="link"
               ng-model-options="{updateOn:'blur'}"
               type="url">
      </md-input-container>
      <div layout="row" layout-align="center center">
        <input ng-if="wizard.link" type="submit" translate translate-attr-value="wizard.native">
      </div>
    </form>
  </div>

  <div class="frame" ng-if="wizard.html" ng-bind-html="wizard.html"></div>

  <fli-footer ng-if="!wizard.html"></fli-footer>

</div>
