#wizard .block {
  padding-left: 0;
  padding-right: 0;
}

#wizard textarea {
  height: 100px;
  max-height: 100px;
}

#wizard .frame {
  width: 100%;
  height: 300px;
  max-height: 300px;
  border: 0;
}
