.about.header {
  top: 0;
  left: 0;
  right: 0;
  min-height: 300px;
  max-height: 300px;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
  position: absolute;
  overflow: hidden;
  z-index: 0;
}

#about {
  z-index: 999;
}

#about header {
  color: #ffffff;
  background: transparent;
  min-height: 300px;
  max-height: 300px;
  text-align: center;
  cursor: pointer;
}

#about .logo {
  height: 100px;
  width: 100px;
  margin: 10px;
}

#about .title {
  font-size: 30px;
}

#about .description {
  font-size: 16px;
}

#about .contact {
  color: #888888;
}

#about .mail {
  margin-top: 10px;
}

#about .contact i {
  margin-right: 10px;
}
