<header>
  <fli-input flex icon="search"></fli-input>
  <md-progress-linear md-mode="indeterminate" ng-if="fli.progress"></md-progress-linear>
</header>

<div id="home" flex>
  <md-content layout="row" layout-sm="column" layout-wrap>

    <md-whiteframe flex-sm flex-gt-sm="45" class="md-whiteframe-z1" layout="column">
      <div>
        <span>Search</span>
      </div>
      <div class="result">
        <a ng-repeat="search in searchs" ng-href="{{'search?input=' + search.input}}" ng-bind="search.input"></a>
      </div>
    </md-whiteframe>

    <md-whiteframe flex-sm flex-gt-sm="45" class="md-whiteframe-z1" layout="column">
      <div>
        <span>Look</span>
      </div>
      <div class="result">
        <a ng-repeat="look in looks" ng-href="{{'look?input=' + look.input + '&url=' + look.url}}"
           ng-bind="look.input"></a>
      </div>
    </md-whiteframe>

    <md-whiteframe flex-sm flex-gt-sm="95" class="md-whiteframe-z1" layout="column">
      <div>
        <span>Social widget</span>
      </div>
      <div>
      </div>
    </md-whiteframe>

  </md-content>
</div>

<footer ng-include="'components/_index/footer/footer.html'"></footer>
