<header>
  <fli-input flex></fli-input>
</header>

<div id="home" layout="row" flex layout-align="center start" class="animate vm">

  <div layout="row" layout-align="center start" layout-wrap flex>

    <widget ng-if="item.items.length" ng-hide="fli.focus" flex-sm="95" flex-gt-sm="45" flex layout="column" ng-repeat="item in widgets">
    <md-whiteframe class="md-whiteframe-z1">
        <div>
          <span ng-bind="item.name"></span>
        </div>
        <div class="result">
          <a ng-repeat="i in item.items" ng-href="{{item.href(i)}}" ng-bind="i.input"></a>
        </div>
    </md-whiteframe>
    </widget>

    <fli-search-suggest ng-hide="fli.focus" flex-sm="95" flex-gt-sm="90"></fli-search-suggest>

  </div>

</div>

<footer ng-include="'components/_index/footer/footer.html'"></footer>
