#home md-whiteframe {
  color: #999999;
  padding: 7px;
  margin: 7px;
}

#home .result {
  text-align: justify;
}

#home .result a {
  margin: 7px;
  display: inline-block;
}

#home md-whiteframe {
  min-height: 150px;
}
