fli-search-result {
  display: block;
}

fli-search-result .md-card-image {
  min-height: 200px;
  max-height: 200px;
}

fli-search-result md-card-content{
  padding: 10px;
}

fli-search-result md-card-footer {
  padding: 0;
}

fli-search-result md-card-footer > div {
  margin: 0 10px 5px 10px;
}
