<md-card class="md-whiteframe-z1 fli-item" ng-class="{small:!!fliItem.small}" layout="column" ng-if="fliItem">
  <md-card-content>
    <a ng-href="{{fliItemCtrl.href(fliItem)}}" ng-click="go(fliItemCtrl.href(fliItem));$event.preventDefault();" class="img">
      <img class="md-card-image" ng-if="fliItem.img" ng-src="{{fliItem.img}}" title="{{'index.core.uix.item.lookIt' | translate:{v:fliItem.title || 'FLI'} }}" alt="{{fliItem.title}}" fli-item-img fli-err>
      <div class="md-card-image header" ng-if="!fliItem.img" title="{{'index.core.uix.item.lookIt' | translate:{v:fliItem.title} }}"></div>
    </a>
    <div class="body">
      <a ng-if="fliItem.title" ng-href="{{fliItemCtrl.href(fliItem)}}" ng-click="go(fliItemCtrl.href(fliItem));$event.preventDefault();" ng-bind-html="fliItem.title"></a>
      <div ng-if="fliItem.from" class="from" ng-bind-html="fliItem.from"></div>
      <div ng-if="fliItem.content" ng-bind-html="fliItem.content"></div>
    </div>
    <ng-transclude></ng-transclude>
  </md-card-content>
  <md-card-footer layout="row" layout-align="end center">
    <div class="link" ng-if="fliItemCtrl.search && fliItem.input" title="{{'index.core.uix.item.search' | translate:{v:fliItem.input} }}">
      <span>#</span> <a ng-href="{{fliItemCtrl.search(fliItem.input)}}" ng-click="go(fliItemCtrl.search(fliItem.input));$event.preventDefault();"><span ng-bind="fliItem.input"></span></a>
    </div>
    <div class="link" ng-if="fliItem.file" ng-click="link(fliItem.file)" title="{{'index.core.uix.item.getIt' | translate}}">
      <i class="fa fa-file-image-o"></i>
    </div>
    <div class="link" ng-if="fliItemCtrl.share" ng-click="fliItemCtrl.share(fliItem)" title="{{'index.core.uix.item.share' | translate:{v:fliItem.title} }}">
      <i class="fa fa-share-alt"></i>
    </div>
    <div class="link" ng-if="fliItem.url" ng-click="link(fliItem.url)" title="{{'index.core.uix.item.goTo' | translate:{v:fliItem.title} }}">
      <i class="fa fa-external-link"></i>
    </div>
  </md-card-footer>
</md-card>
