<div class="md-toolbar-tools" layout="row" layout-align="center center">
  <h3 ng-bind="toolbarCtrl.model.title" flex></h3>

  <div ng-if="toolbarCtrl.edit" layout="row">
    <div ng-if="toolbarCtrl.editWidget">
      <md-button class="md-icon-button fli-drag">
        <md-icon>open_with</md-icon>
      </md-button>

      <md-button class="md-icon-button"
                 ng-click="toolbarCtrl.dialog(toolbarCtrl.model)">
        <md-icon>settings</md-icon>
      </md-button>

      <md-button class="md-icon-button"
                 ng-click="toolbarCtrl.remove(toolbarCtrl.model, toolbarCtrl.column.widgets)">
        <md-icon>close</md-icon>
      </md-button>
    </div>

    <md-button class="md-icon-button" aria-label="edit"
               ng-click="toolbarCtrl.editWidget=!toolbarCtrl.editWidget;"
               ng-if="toolbarCtrl.edit">
      <md-icon ng-bind="!toolbarCtrl.editWidget ? 'edit': 'save'"></md-icon>
    </md-button>
  </div>

</div>

