<footer>

  <fli-locale-panel ng-show="footer.showLocalePanel"></fli-locale-panel>

  <md-whiteframe layout="row" class="md-whiteframe-z5" layout-align="center center">
    <div class="link" flex="20" layout="column" layout-align="center center" ng-click="link(footer.donate)"
         title="{{'index.footer.help' | translate}}">
      <p><i class="fa fa-usd"></i> <span hide-sm translate="index.footer.donate"></span></p>
    </div>
    <div flex layout="column" layout-align="center center">
      <p><span translate="index.footer.with"></span> <i class="fa fa-heartbeat heart"></i> <a ng-href="{{footer.about}}" ng-click="go(footer.about)" title="{{fli.description}}">freelook.info</a></p>
    </div>
    <div flex="20" layout="column" layout-align="center center">
      <md-button class="md-icon-button md-primary" aria-label="locale" ng-bind="footer.localeCode" ng-click="footer.toggleLocalePanel()"></md-button>
    </div>
  </md-whiteframe>

</footer>
