<footer>

  <fli-locale-panel class="block" ng-show="footer.showLocalePanel" flex></fli-locale-panel>

  <div layout="row" class="block" layout-align="center center">
    <div class="link" flex="20" layout="column" layout-align="center center" ng-click="location(footer.donate)"
         title="{{'index.footer.help' | translate}}">
      <p><i class="fa fa-usd"></i> <span hide-sm translate="index.footer.donate"></span></p>
    </div>
    <div flex layout="column" layout-align="center center">
      <p><span translate="index.footer.with"></span> <i class="fa fa-heartbeat heart"></i> <a fli-href="{{footer.about}}" title="{{fli.description}}">freelook.info</a></p>
    </div>
    <div flex="20" layout="column" layout-align="center center">
      <md-button class="md-icon-button link" aria-label="locale" ng-bind="footer.localeCode" ng-click="footer.toggleLocalePanel()"></md-button>
    </div>
  </div>

</footer>
