<md-whiteframe layout="column" class="md-whiteframe-z5" layout-align="center center">
  <div class="donate" ng-click="link('https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=RFP3HDDXV2NJS')" title="Help us grow">
    <span>D</span>
    <span class="o">o</span>
    <span>n</span>
    <span class="a">a</span>
    <span>t</span>
    <span class="e">e</span>
  </div>
  <p>with <span class="heart">♥</span> <a ng-href="info" title="{{fli.description}}">freelook.info</a></p>
</md-whiteframe>
