fli-setting {
  display: block;
}

fli-setting .title {
  padding: 7px;
  color: #999999;
}

fli-setting .border {
  border-bottom: 1px solid #cccccc;
}

fli-setting md-switch,
fli-setting .md-icon-button {
  margin: 0;
}
