<md-dialog id="board-toolbar-add" aria-label="edit">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3 flex>Add</h3>
      <md-button class="md-icon-button" ng-click="addCtrl.cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content flex layout-padding>

    <md-list ng-init="widgets=[{title:'TAG', description: 'description'}, {title:'SITE', description: 'description'}]">
      <md-list-item class="md-whiteframe-z1" ng-repeat="widget in widgets">
        <h3 ng-bind="widget.title" ng-click="open=!open"></h3>

        <div ng-if="open" ng-bind="widget.description"></div>
      </md-list-item>
    </md-list>

    <div class="editor" ui-ace="{mode:'javascript'}" ng-model="addCtrl.code"></div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-button" ng-click="addCtrl.cancel()">Close</md-button>
  </md-dialog-actions>
</md-dialog>
