<md-dialog id="board-toolbar-add" aria-label="add">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3 flex>Add</h3>
      <md-button class="md-icon-button" ng-click="addCtrl.cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content flex layout-padding>

    <md-list>
      <md-list-item class="md-whiteframe-z1" ng-repeat="widget in addCtrl.widgets track by $index">
        <div layout="column" flex layout-padding>
          <h3 ng-bind="::widget.title"></h3>

          <div ng-bind="::widget.description"></div>
        </div>
        <md-button class="md-fab md-mini md-primary" ng-click="addCtrl.add(widget, addCtrl.model)">
          <md-icon>add</md-icon>
        </md-button>
      </md-list-item>
    </md-list>

    <div layout="row" layout-align="center center">
      <md-button class="md-fab md-mini md-primary" ng-click="addCtrl.build()">
        <md-icon>build</md-icon>
      </md-button>
    </div>

  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-button" ng-click="addCtrl.cancel()">Close</md-button>
  </md-dialog-actions>
</md-dialog>
