fli-input-notice,
fli-note {
  display: block;
}

fli-input-notice .notice {
  margin: 5px;
}

fli-input-notice .notice .item {
  padding: 7px;
  margin-top: 10px;
  border-bottom: 1px solid #cccccc;
}
