.fl-color {
  color: @brand-primary;
}

.fl-font {
  background: @brand-primary;
}

.upper-text {
  text-transform: uppercase;
}

.app-name {
  background: @brand-primary;
}

.app-search {
  margin-top: 10px;
  background: @body-bg !important;
}

.section {
  background: @body-bg;
}

.space {
  display: inline;
  padding: 5px;
}

.page-signin .signin-body {
  border-top: 1px solid #f6f7f8;
  padding: 20px 10px;
}

.page-signin .form-container {
  margin: 10px auto;
}

.page-signin .line-thru {
  margin: 1em 0;
  display: block;
  font-size: .875em;
  font-weight: bold;
  margin-bottom: 1em;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.page-signin .line-thru:before {
  width: 50px;
  height: 10px;
  background-color: #ebebeb;
  content: '';
  margin: -5px 0 0 -20px;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.page-signin .line-thru:after {
  width: 100%;
  border-bottom: 1px solid #d6d8db;
  content: '';
  display: block;
  position: absolute;
  top: 49%;
  z-index: -2;
}

.btn-twitter-round {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: #00c7f7;
  border-color: #00c7f7;
}

.btn-twitter-round:hover {
  color: white;
  background-color: #00a6ce;
  border-color: #0096ba;
}

.btn-facebook-round, .btn-vk-round {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: #335397;
  border-color: #335397;
}

.btn-facebook-round:hover, .btn-vk-round:hover {
  color: white;
  background-color: #294279;
  border-color: #243a69;
}

.btn-google-plus-round {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: #dd4a38;
  border-color: #dd4a38;
}

.btn-google-plus-round:hover {
  color: white;
  background-color: #ca3522;
  border-color: #b8301f;
}

img.img50_50 {
  width: 50px;
  height: 50px;
}


.btn-signin {
  height: 100px;
  width: 100px;
  line-height: 75px;
  border-color: #dddddd;
  background-color: #ebebeb;
  text-align: center;
  vertical-align: middle;
}

.center {
  text-align: center;
}

.mg-top-10 {
  margin-top: 10px;
}

.rad-50 {
  border-radius: 50%;
}
