<md-whiteframe flex class="md-whiteframe-z1" layout="column" ng-repeat="result in search">
  <div>
    <a ng-href="{{getURL(result)}}" ng-bind-html="result.title"></a>
  </div>
  <div ng-bind-html="result.text"></div>
</md-whiteframe>

<div flex layout="column" layout-align="center center" ng-if="!search.length && !fli.route.input">
  <p><a class="lucky" ng-href="{{'search?from=yandex&input=' + lucky}}">get lucky</a></p>
</div>

<div class="title" ng-if="!!suggested.length">Suggested requests:</div>
<md-whiteframe class="md-whiteframe-z1" layout="column" ng-if="!!suggested.length">
  <div class="result">
    <a ng-repeat="suggest in suggested" ng-href="{{'search?from=google&input=' + suggest}}" ng-bind="suggest"></a>
  </div>
</md-whiteframe>
