#input::-webkit-search-cancel-button:after {
  content: '×';
  display: block;
  width: 15px;
  height: 30px;
  color: #3f51b5;
}

fli-input md-input-container {
  text-align: center !important;
}

fli-input md-input-container.md-input-has-value,
fli-input md-input-container.md-input-focused {
  text-align: left !important;
}

fli-input md-input-container label,
fli-input i {
  color: #3f51b5 !important;
  cursor: pointer;
}

fli-input md-input-container input {
  text-align: center !important;
  cursor: pointer;
}
