fli-input #input::-webkit-search-cancel-button:after {
  content: '×';
  display: block;
  width: 15px;
  height: 30px;
  color: #3f51b5;
}

fli-input md-input-container .md-placeholder {
  display: none !important;
}
