fli-search-tabs {
  display: block;
}

fli-search-tabs md-ink-bar {
  display: none;
}

fli-search-tabs .md-tab a {
  text-decoration: none;
}

fli-search-tabs .md-tab.md-active a {
  color: #888888;
  text-shadow: 3px 3px 13px #888888;
}
