<md-tabs md-selected="tabs.selected" md-no-bar="true" md-autoselect="false" ng-if="fli.route.input">
  <md-tab md-on-select="tabs.go('web')"><a fli-href="{{tabs.href('web')}}" translate="search.tabs.web"></a></md-tab>
  <md-tab md-on-select="tabs.go('news')"><a fli-href="{{tabs.href('news')}}" translate="search.tabs.news"></a></md-tab>
  <md-tab md-on-select="tabs.go('goods')"><a fli-href="{{tabs.href('goods')}}" translate="search.tabs.goods"></a></md-tab>
  <md-tab md-on-select="tabs.go('image')"><a fli-href="{{tabs.href('image')}}" translate="search.tabs.images"></a></md-tab>
  <md-tab md-on-select="tabs.go('audio')"><a fli-href="{{tabs.href('audio')}}" translate="search.tabs.audio"></a></md-tab>
  <md-tab md-on-select="tabs.go('video')"><a fli-href="{{tabs.href('video')}}" translate="search.tabs.video"></a></md-tab>
</md-tabs>
