<?xml version='1.0' encoding='utf-8'?>
<widget id="info.freelook" version="0.0.1" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Freelook</name>
    <description>
        Freelook at things.
    </description>
    <author email="freelook@mail.ua" href="http://freelook.info">
        Freelook team
    </author>
    <content src="index.html"/>

    <platform name="android">
        <access origin="*"/>
        <feature name="InAppBrowser">
            <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
        </feature>
    </platform>

</widget>
