<div class="fli-grid" ng-if="looks.items.length">
  <fli-item ng-repeat="item in looks.items | filter:fli.route.input || ''"
            ng-init="fliItem = {
          url:item.url,
          img:item.img,
          title:item.input,
          input:item.input,
          type:item.type,
          sub:item.sub
          };
          fliItemCtrl.transclude='footer';
          fliItemCtrl.searchInput=item.input;
          fliItemCtrl.href=widget.href;
          fliItemCtrl.search=widget.search;
          fliItemCtrl.share=widget.share;">

    <div class="clear link" ng-if="::looks.isLocal()" ng-click="looks.clearItem(item)">
      <i class="fa fa-close" translate translate-attr-title="uix.item.clearIt"></i>
    </div>

  </fli-item>
</div>

<fli-welcome ng-if="!looks.items.length"></fli-welcome>
