fli-setting-auth {
  display: block;
}

fli-setting-auth .md-button.md-icon-button {
  margin: 0;
}

fli-setting-auth .circle {
  max-height: 100px;
  min-height: 100px;
}

fli-setting-auth .md-button .fa {
  margin: 7px;
}
