<div ng-if="!fli.user">
  <div layout="row" layout-align="center center">
    <i class="fa fa-user-secret fa-5x color-8"></i>
  </div>
  <div layout="row" layout-align="center center">
    <md-button class="md-primary" aria-label="google" ng-click="auth.logIn('google')">
      <i class="fa fa-google" title="google"></i><span translate="google"></span>
    </md-button>
    <md-button class="md-primary" aria-label="facebook" ng-click="auth.logIn('facebook')">
      <i class="fa fa-facebook" title="facebook"></i><span translate="facebook"></span>
    </md-button>
  </div>
</div>
<div layout="row" layout-align="end center" ng-if="fli.user">
  <div flex layout="column" layout-align="center center">
    <img ng-src="{{::fli.user.authData[fli.user.authData.provider].profileImageURL}}" fli-err class="circle">
  </div>
  <md-button class="md-icon-button link" aria-label="fb-logout" ng-click="auth.logOut()">
    <i class="fa fa-sign-out fa-2x"></i>
  </md-button>
</div>
