<fli-locale-panel ng-show="footer.showLocalePanel"></fli-locale-panel>
<div layout="row" class="block border">
  <div class="link" flex="20" layout="row" layout-align="center center" ng-click="footer.feedback()">
    <i class="fa fa-comments-o block" translate translate-attr-title="index.footer.help"></i>
    <div hide-xs translate="index.footer.feedback"></div>
  </div>
  <div flex layout="column" layout-align="center center" class="text-center">
    <p><span translate="index.footer.with"></span>
      <i class="fa fa-heartbeat heart"></i>
      <a fli-href="{{::footer.about}}" ng-attr-title="{{fli.description}}" target="_blank">freelook.info</a>
    </p>
  </div>
  <div class="link" ng-class="{active:footer.showLocalePanel}" flex="20" layout="row" layout-align="center center" ng-click="footer.toggleLocalePanel()">
    <div hide-xs translate="index.footer.locale"></div>
    <md-button class="md-icon-button link bold" aria-label="locale" ng-bind="::footer.localeCode"></md-button>
  </div>
</div>

<div layout="row" layout-align="space-between center" class="block border">
  <fli-apps></fli-apps>
  <fli-metrica></fli-metrica>
</div>
