fli-input-menu {
  display: block;
}

.menu {
  border-bottom: 1px #cccccc solid;
  color: #999999;
  cursor: pointer;
  height: 35px;
  padding: 0;
  outline: 0;
}

.menu .fa {
  margin: 10px 15px 0 17px;
}

.menu span {
  margin-top: 10px;
}

.menu a {
  text-decoration: none;
  outline: 0;
}

fli-input-menu .nav .menu {
  margin-bottom: 0;
}

fli-input-menu .nav i {
  color: rgb(63, 81, 181);
}
