fli-input-menu {
  display: block;
}

.menu {
  outline: 0;
  padding: 5px;
}

.menu .fa {
  margin: 9px 20px 5px 5px;
}

.menu a {
  text-decoration: none;
}

.menu.block {
  margin: 0 55px 5px 50px;
  border-bottom: 1px #cccccc solid;
}

fli-input-menu .menu.block {
  margin-left: 0;
  border-bottom: 1px #cccccc solid;
}
