<div layout="row" class="nav">
  <md-whiteframe flex class="md-whiteframe-z1" ng-click="menuCtrl.back()" aria-label="back">
    <div flex layout="row">
      <i class="fa fa-arrow-left"></i>
      <span hide-sm>Back</span>
    </div>
  </md-whiteframe>
  <md-whiteframe flex class="md-whiteframe-z1" ng-click="menuCtrl.hide()" aria-label="hide">
    <div flex layout="row" layout-align-sm="center center">
      <i class="fa fa-arrow-up"></i>
      <span hide-sm>Hide</span>
    </div>
  </md-whiteframe>
  <md-whiteframe flex class="md-whiteframe-z1" ng-click="menuCtrl.forward()" aria-label="forward">
    <div flex layout="row" layout-align-sm="end center">
      <i class="fa fa-arrow-right"></i>
      <span hide-sm>Forward</span>
    </div>
  </md-whiteframe>
</div>

<md-whiteframe class="md-whiteframe-z1" layout="row" ng-repeat="item in menu" ng-if="item.href !== menuCtrl.path">
  <a flex ng-href="{{item.href}}">
    <i class="fa fa-{{item.icon}}"></i>
    <span ng-bind="item.name"></span>
  </a>
</md-whiteframe>

