<div>
  <fli-look-content-rich></fli-look-content-rich>
  <fli-look-content-youtube ng-if="is(site.domain, 'youtube')" layout="column" flex></fli-look-content-youtube>
  <fli-look-content-vk ng-if="is(site.domain, 'vk')" layout="column" flex></fli-look-content-vk>
  <fli-look-content-facebook ng-if="is(site.domain, 'facebook')" layout="column" flex></fli-look-content-facebook>
  <fli-look-content-instagram ng-if="is(site.domain, 'instagram')" layout="column" flex></fli-look-content-instagram>
  <fli-look-content-pinterest ng-if="is(site.domain, 'pinterest')" layout="column" flex></fli-look-content-pinterest>
  <fli-welcome ng-if="is(site.domain, 'freelook')"></fli-welcome>
  <fli-look-content-full ng-if="!is(site.domain, content.supportedSites)" layout="column" flex></fli-look-content-full>
</div>
