{% extends 'layout.server.view.html' %}

{% block content %}
<md-content flex>

    <div layout="column" layout-fill layout-align="start">
        <md-content layout="row">

            <div>
                <md-button ng-click="toggleLeft()" class="md-primary" aria-label hide-tablet-landscape hide-pc translate="Start"></md-button>
            </div>


            <div flex data-ng-controller="InputController">
                <form name="freelook" ng-submit="submit(freelook)" layout="row" layout-align="center center" layout-fill>
                    <div>
                        <md-text-float label="free look at things" ng-model="route.input" type="search" name="data"></md-text-float>
                    </div>
                    <div layout="column" layout-align="center">
                        <md-button class="md-primary" type="submit" ng-disabled="!route.input" translate="GO" aria-label></md-button>
                    </div>
                </form>
            </div>


            <div>
                <md-button ng-click="toggleRight()" class="md-primary" aria-label translate="Info"></md-button>
            </div>

        </md-content>

        <md-tabs md-selected="route.social">
            <md-tab label="vk" md-active="route.social === 'vk'" ng-click="go({social:'vk'})"></md-tab>
            <md-tab label="facebook" md-active="route.social === 'facebook'" ng-click="go({social:'facebook'})"></md-tab>
            <md-tab label="google" md-active="route.social === 'google'"  ng-click="go({social:'google'})"></md-tab>
        </md-tabs>


        <ng-view layout="column" layout-align="start"></ng-view>

    </div>

</md-content>
{% endblock %}
