{% extends 'layout.server.view.html' %}

{% block content %}
<!-- Navbars -->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center upper-text" yield-to="title">
        <span data-i18n="Freelook"></span>
    </div>
    <div class="btn-group pull-left">
        <div ng-click="toggle('left-sidebar')" class="btn btn-navbar sidebar-toggle">
            <i class="fa fa-bars"></i>
            <span data-i18n="Start"></span>
        </div>
    </div>
    <div class="btn-group pull-right" yield-to="navbarAction">
        <div ng-click="toggle('right-sidebar')" class="btn btn-navbar">
            <span data-i18n="Info"></span> <i class="fa fa-exclamation-circle fa-navbar"></i>
        </div>
    </div>
</div>

<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn btn-navbar pull-left">
        <i class="fa fa-2x fa-question-circle fl-color"></i>
    </div>
    <div class="btn btn-navbar pull-right">
        <select data-ng-controller="LangController" data-ng-model="lang" data-ng-change="setLang()">
            <option ng-selected="lang === 'ru'">ru</option>
            <option ng-selected="lang === 'en'">en</option>
        </select>
    </div>
</div>

<!-- App Body -->
<div class="app-body" ng-class="{loading: loading}">
    <div ng-show="loading" class="app-content-loading">
        <i class="fa fa-spinner fa-spin loading-spinner"></i>
    </div>

    <section class="app-content" ng-hide="loading">

        <div class="scrollable">
            <div class="scrollable-content">
                <div class="section container-fluid">
                    <div class="btn-group justified nav-tabs">
                        <a class="btn btn-default upper-text" data-ng-class="{active: action === 'look'}"
                           data-i18n="Look" data-ng-click="go({action:'look'})"></a>
                        <a class="btn btn-default upper-text" data-ng-class="{active: action === 'show'}"
                           data-i18n="Show" data-ng-click="go({action:'show'})"></a>
                    </div>

                </div>

                <div class="section container-fluid">
                    <ul class="nav nav-tabs">
                        <li><a href="#Tab1" toggle="on" data-ng-click="go({social:'vk'})" data-ng-class="{active: social === 'vk'}">VK</a></li>
                        <li><a href="#Tab2" toggle="on" data-ng-click="go({social:'facebook'})" data-ng-class="{active: social === 'facebook'}">Facebook</a></li>
                        <li><a href="#Tab3" toggle="on" data-ng-click="go({social:'google'})" data-ng-class="{active: social === 'google'}">Google</a></li>
                    </ul>

                    <input type="search" class="form-control app-search" placeholder="What do you want now ?"
                           data-i18n="i18n-placeholder">
                </div>

                <div class="section container-fluid">
                    <ng-view></ng-view>
                </div>


            </div>
        </div>

    </section>
</div>
{% endblock %}