<!doctype html>
<html>

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.png" rel="shortcut icon" type="image/x-icon">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">
	{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="ng-cloak" ng-controller="MainController">
<!-- Sidebars -->
<nav ng-include="'/modules/core/views/sidebar-left.client.view.html'" class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="left-sidebar"></nav>

<nav ng-include="'/modules/core/views/sidebar-right.client.view.html'" class="sidebar sidebar-right" toggleable parent-active-class="sidebar-right-in" id="right-sidebar"></nav>

	<section class="app">
		{% block content %}{% endblock %}
	</section>

	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
        var date = {{date}};
	</script>

	<!--Application JavaScript Files-->
	{% for jsFile in jsFiles %}<script src="{{jsFile}}"></script>
	{% endfor %} 

	{% if process.env.NODE_ENV === 'development' %}
	<!--Livereload script rendered -->
	<script src="http://localhost:35729/livereload.js"></script>

	{% endif %}
</body>

</html>