<div class="block" ng-if="fli.user" layout="row">
  <div>
    <img class="circle" ng-src="{{setting.fbImg(fli.user.attributes.authData.facebook.id)}}" fli-err>
    <md-button class="md-icon-button link" aria-label="fb-logout" ng-click="setting.logOut()">
      <i class="fa fa-sign-out fa-2x"></i>
    </md-button>
  </div>
  <div>
    <div class="block" ng-bind="fli.user.get('username')"></div>
    <div class="block">
      <span ng-bind="fli.user.get('looks')"></span>
      <span class="fa fa-eye link"></span>
    </div>
  </div>
</div>

<div class="block">
  <div class="title" translate="index.core.uix.setting.locale"></div>
  <fli-locale-panel></fli-locale-panel>
</div>

<div class="block" layout="row">
  <md-switch class="md-primary" ng-model="setting.notice" aria-label="switch notice"
             ng-change="setting.toggleNotice()"></md-switch>
  <div flex class="title" translate="index.core.uix.setting.notice"></div>
</div>

<div class="block" ng-if="fli.platform==='site'">
  <div class="title" translate="index.core.uix.setting.app"></div>
  <fli-apps layout="row" layout-align="center center"></fli-apps>
</div>


