<div class="block">
  <fli-setting-user flex ng-if="fli.user" class="border"></fli-setting-user>
  <fli-setting-login flex ng-if="!fli.user"></fli-setting-login>
</div>

<div class="block border">
  <div class="title"><span translate="index.core.uix.setting.locale"></span>:</div>
  <fli-locale-panel></fli-locale-panel>
</div>

<div class="block border" layout="row">
  <md-switch class="md-primary" ng-model="setting.notice" aria-label="switch notice" ng-change="setting.toggleNotice()"></md-switch>
  <div flex class="title" translate="index.core.uix.setting.notice"></div>
</div>

<div class="block" ng-if="fli.platform==='site'">
  <fli-apps layout="row" layout-align="center center"></fli-apps>
</div>


