fli-setting {
  display: block;
}

#setting fli-setting {
  margin-top: 25px;
}

#setting .title {
  padding: 7px;
  color: #999999;
}

#setting .border {
  border-bottom: 1px solid #cccccc;
}

#setting md-switch,
#setting .md-icon-button {
  margin: 0;
}
