fli-look-content-vk-group .md-card-image {
    margin: 7px;
    cursor: pointer;
}
fli-look-content-vk-group md-card md-card-content{
    min-width: 60%;
}
fli-look-content-vk-group md-card md-card-content p{
    color: rgba(0,0,0,0.54);
}