<div ng-if="vk.group">
  <fli-item ng-init="fliItem = {
          small:1,
          nofill:1,
          url:fli.route.url,
          img:vk.group.photo_200,
          title:vk.group.name,
          content:vk.group.screen_name
          };">

    <div class="block">
      <div layout="row" ng-if="vk.group.status">
        <div flex="33">
          <p>Status:</p>
        </div>
        <div flex="66">
          <p ng-bind="::vk.group.status"></p>
        </div>
      </div>
      <div layout="row" ng-if="vk.group.home_town">
        <div flex="33">
          <p>Hometown:</p>
        </div>
        <div flex="66">
          <p ng-bind="::vk.group.home_town"></p>
        </div>
      </div>
    </div>

  </fli-item>

</div>
