<md-card layout-sm="column" layout="row">
  <img flex-gt-sm="33" class="md-card-image" ng-click="link(fli.route.url)" ng-if="!!vk.group.photo_200" ng-src="{{vk.group.photo_200}}" fli-err>
  <md-card-content flex>
    <h3 class="md-title" data-ng-bind="vk.group.name"></h3>
    <md-divider></md-divider>
    <div>
      <div layout="row" ng-if="vk.group.status">
        <div flex="33">
          <p>Status:</p>
        </div>
        <div flex="66">
          <p ng-bind="vk.group.status"></p>
        </div>
      </div>
      <div layout="row" ng-if="user.home_town">
        <div flex="33">
          <p>Hometown:</p>
        </div>
        <div flex="66">
          <p ng-bind="user.home_town"></p>
        </div>
      </div>
      <div layout="row" ng-if="fli.route.url">
        <div flex="33">
          <p>Link:</p>
        </div>
        <div flex="66" class="link" ng-click="link(fli.route.url)">
          <p ng-bind="fli.route.url"></p>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>
