<md-toolbar layout="column" layout-align="center center">

  <fli-input layout-fill layout-padding></fli-input>


  <md-tabs>
    <md-tab label="google" md-active="fli.route.from === 'google'" ng-click="go({from: 'google'})"></md-tab>
    <md-tab label="yandex" md-active="fli.route.from === 'yandex'" ng-click="go({from: 'yandex'})"></md-tab>
  </md-tabs>


</md-toolbar>

<md-progress-linear md-mode="indeterminate" ng-if="fli.progress"></md-progress-linear>

<md-content layout="column" id="search" layout-margin layout-padding>

  <fli-google-search ng-if="fli.route.from === 'google'"></fli-google-search>
  <fli-yandex-search ng-if="fli.route.from === 'yandex'"></fli-yandex-search>

</md-content>




