<header>
  <md-progress-linear md-mode="indeterminate" ng-if="fli.progress"></md-progress-linear>
  <fli-input class="search" flex icon="search"></fli-input>
  <fli-search-lucky></fli-search-lucky>
</header>


<div id="search" flex layout="column">

  <fli-search-tabs ng-hide="fli.focus"></fli-search-tabs>

  <div layout="row" flex ng-hide="fli.focus">
    <fli-search-sub flex="10" fli-sub-hide-on-scroll></fli-search-sub>
    <fli-search-result flex></fli-search-result>
  </div>

</div>


<fli-search-suggest ng-hide="fli.focus"></fli-search-suggest>

<footer ng-include="'components/_index/footer/footer.html'"></footer>
