<header>
  <fli-input class="search" flex></fli-input>
  <fli-search-lucky></fli-search-lucky>
</header>

<div id="search" flex layout="column" class="animate vm">

  <fli-search-tabs ng-hide="fli.focus"></fli-search-tabs>

  <div layout="row" flex ng-hide="fli.focus">
    <fli-search-sub fli-sub-hide-on-scroll></fli-search-sub>
    <fli-search-result flex></fli-search-result>
  </div>

</div>

<fli-search-suggest ng-hide="fli.focus"></fli-search-suggest>

<footer ng-include="'components/_index/footer/footer.html'"></footer>
