<div layout="row" layout-align="center center">
  <md-button class="md-icon-button link" aria-label="site" ng-if="fli.platform!=='site'" ng-href="{{::apps.site}}" target="_blank">
    <i class="fa fa-edge fa-2x"></i>
  </md-button>
  <md-button class="md-icon-button link" aria-label="chrome" ng-if="fli.platform!=='chrome'" ng-href="{{::apps.chrome}}" target="_blank">
    <i class="fa fa-chrome fa-2x"></i>
  </md-button>
  <md-button class="md-icon-button link" aria-label="android" ng-if="fli.platform!=='android'" ng-href="{{::apps.android}}" target="_blank">
    <i class="fa fa-android fa-2x"></i>
  </md-button>
</div>
