<md-input-container>
  <label translate="index.core.uix.setting.login.email"></label>
  <input type="email" name="email" ng-model="login.email" required>
</md-input-container>
<md-input-container>
  <label translate="index.core.uix.setting.login.password"></label>
  <input type="password" name="password" ng-model="login.password" required>
</md-input-container>
<div layout="row" layout-align="center center">
  <md-button class="md-primary" aria-label="reset" ng-disabled="!login.email" ng-click="login.reset(login.email)">
    <span translate="index.core.uix.setting.login.reset"></span>
  </md-button>
  <md-button class="md-fab md-primary" aria-label="login" ng-disabled="!login.enabled()" ng-click="login.go()">
    <i class="fa fa-share"></i>
  </md-button>
</div>
