<md-progress-linear md-mode="indeterminate" ng-if="fli.progress && !fli.focus"></md-progress-linear>

<form name="form" ng-submit="inpt.find(form)" layout="row">

  <a class="md-icon-button md-primary md-button" aria-label="navigation" fli-href="{{inpt.href()}}">
    <i ng-if="fli.focus && !fli.route.input" class="fa fa-th-large"></i>
    <i ng-if="fli.focus && fli.route.input" class="fa fa-search"></i>
    <i ng-if="!fli.focus" class="fa fa-{{fli.icon || 'search'}}"></i>
  </a>

  <md-input-container flex md-no-float>
    <input flex id="input" type="search" ng-focus="inpt.focus()" autocomplete="off"
           ng-model="fli.route.input"
           placeholder="{{inpt.placeholder | translate}}">
  </md-input-container>

  <md-button ng-if="fli.route.input && fli.focus" class="md-icon-button md-primary clear" aria-label="clear">
    <div ng-click="inpt.clear()">
      <i class="fa fa-close"></i>
    </div>
  </md-button>

</form>

<fli-input-menu ng-if="fli.focus"></fli-input-menu>


