<form name="form" ng-submit="find(form)" layout="row">

  <md-button class="md-icon-button md-primary" aria-label="navigation" ng-href="{{href(fliHref)}}">
    <i ng-if="!fli.route.input" class="fa fa-{{icon}}"></i>
    <i ng-if="!!fli.route.input" class="fa fa-search"></i>
  </md-button>

  <input flex id="input" type="search" ng-focus="focus()" ng-blur="blur()"
         ng-model="fli.route.input"
         placeholder="{{placeholder}}">

</form>

<fli-menu-items ng-if="!!fli.focus"></fli-menu-items>
