fli-input .md-primary {
  margin: 3px;
}

fli-input md-autocomplete {
  margin: 7px;
}

fli-input .md-button.md-fab {
  width: 40px;
  height: 40px;
  margin-top: 7px;
}

fli-input .md-fab.md-button i {
  margin-top: 5px;
}

fli-input md-autocomplete input {
  background: #fff !important;
}
