<div layout="row">

  <md-button class="md-icon-button link" aria-label="home">
    <a fli-href="{{input.home()}}">
      <i class="fa fa-eye-slash"></i>
    </a>
  </md-button>

  <md-button ng-show="!fli.focus" class="md-icon-button md-primary" aria-label="filter">
    <div class="link" ng-click="input.filter($event)" ng-class="{active:fli.filter}">
      <i class="fa fa-filter"></i>
    </div>
  </md-button>

  <md-button ng-show="fli.focus" class="md-icon-button link" aria-label="navigation">
    <a fli-href="{{input.href()}}">
      <i class="fa fa-{{input.icon}}"></i>
    </a>
  </md-button>

  <form name="form" ng-submit="input.find(form)" flex>
    <md-input-container flex md-no-float>
      <input flex id="input" ng-focus="input.focus()" autocomplete="off"
             ng-model="fli.route.input"
             ng-model-options="{updateOn:'blur'}"
             placeholder="# {{input.placeholder | translate}}"
             type="{{input.type}}">
      <md-progress-linear id="progress" md-mode="indeterminate" ng-if="fli.progress && !fli.focus"></md-progress-linear>
    </md-input-container>
  </form>

  <md-button ng-if="fli.route.input && fli.focus" class="md-icon-button md-primary clear" aria-label="clear">
    <div class="link" ng-click="input.clear($event)">
      <i class="fa fa-close"></i>
    </div>
  </md-button>

  <md-button ng-if="!fli.focus || !fli.route.input" class="md-icon-button md-primary setting" aria-label="setting">
    <div class="link" ng-click="input.setting()">
      <i ng-if="!fli.user" class="fa fa-sign-in fa-2x"></i>
      <img ng-if="fli.user" class="circle" ng-src="{{input.fbImg(fli.user.attributes.authData.facebook.id, 'small')}}" fli-err>
    </div>
  </md-button>

</div>

<fli-input-notice ng-show="!fli.focus"></fli-input-notice>
<fli-input-menu ng-show="fli.focus || fli.view" layout="column" flex></fli-input-menu>


