fli-input form {
  background: #fff !important;
  margin: 5px;
  padding: 0;
  z-index: 999;
}

fli-input input {
  background: #fff !important;
  padding: 0 0 0 5px;
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  border: 0;
  border-radius: 0;
  outline: 0;
}

fli-input .md-button.md-icon-button {
  width: 40px;
  height: 40px;
  margin: 0;
}

fli-input .md-button.md-icon-button i {
  top: -3px;
  position: relative;
  outline: 0;
}

fli-input md-progress-linear {
  top: -3px;
  position: absolute;
}
