<header>
  <fli-input flex></fli-input>
  <div ng-include="'components/look/menu/menu.html'"></div>
</header>

<div id="look" layout="column" flex>

  <div ng-if="fli.route.type==='full'" >
    <fli-look-iframe flex ng-if="fli.platform==='site'" ng-hide="fli.focus" class="animate vm"></fli-look-iframe>
    <webview web-view-height layout-fill ng-if="fli.platform==='chrome'" ng-hide="fli.focus" class="animate" src="{{trust(decode(fli.route.url))}}"></webview>
  </div>

  <div flex ng-if="!fli.route.type" ng-hide="fli.focus" class="animate vm">
    <fli-look-tabs></fli-look-tabs>
    <fli-look-content flex layout="row" layout-align="center start"></fli-look-content>
  </div>
</div>

<fli-footer ng-if="!fli.route.type && !fli.focus"></fli-footer>


