<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h4 flex ng-bind="translate('ADF_COMMON_EDIT_DASHBOARD')">Edit</h4>
      <md-button class="md-icon-button md-accent" ng-click="closeDialog()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content flex layout-padding>
    <form name="dashboard" layout="column">
      <md-input-container class="md-accent">
        <label ng-bind="translate('ADF_COMMON_TITLE')"></label>
        <input type="text" ng-model="model.title">
      </md-input-container>

      <h5 ng-bind="translate('ADF_EDIT_DASHBOARD_STRUCTURE_LABEL')"></h5>
      <div layout="row">
        <md-input-container flex="{{column.flex}}" class="md-accent" ng-repeat="column in model.columns">
          <label ng-bind="::++$index"></label>
          <input type="text" ng-model="column.flex">
        </md-input-container>
      </div>
    </form>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-button md-accent" ng-click="closeDialog()" ng-bind="translate('ADF_COMMON_CLOSE')">
    </md-button>
  </md-dialog-actions>
</md-dialog>
