<form name="todo" ng-submit="todoCtrl.add()">

  <div layout="row">

    <md-input-container flex>
      <label>Add todo item</label>
      <input ng-model="todoCtrl.text">
    </md-input-container>

    <md-button class="md-primary md-fab" type="submit" aria-label="add todo item">
      <i class="fa fa-plus"></i>
    </md-button>

  </div>

</form>

<div>

  <ul>
    <li ng-repeat="item in todoCtrl.todos track by $index" layout="row">
      <md-checkbox ng-model="item.done" aria-label="item checkbox" ng-init="item.done=false">
        <span ng-bind="item.get('text')"></span>
      </md-checkbox>
      <md-button class="md-icon-button" aria-label="delete item" ng-click="todoCtrl.del(item)">
        <i class="fa fa-close"></i>
      </md-button>
    </li>
  </ul>

</div>
