<md-card class="fli-item" ng-class="::{small:fliItem.small || !fliItem.img,nofill:fliItem.nofill}" layout="column" ng-if="::fliItem">
  <md-card-content>
    <a fli-href="{{::fliItemCtrl.href(fliItem)}}" ng-attr-target="{{fliItemCtrl.target}}" class="img">
      <img class="md-card-image" ng-if="::fliItem.img" ng-src="{{::fliItemCtrl.fix(fliItem.img)}}" translate translate-attr-title="uix.item.lookIt" translate-values="::{v:fliItem.title}" ng-attr-alt="{{::fliItem.title || fliItemCtrl.host(fliItem)}}" fli-item-img fli-err>
      <div class="md-card-image header" fli-item-icon="{{::fliItem.title}}" ng-if="::!fliItem.img" translate translate-attr-title="uix.item.lookIt" translate-values="::{v:fliItem.title}" ng-attr-alt="{{::fliItem.title || fliItemCtrl.host(fliItem)}}"></div>
    </a>
    <div class="block">
      <a class="title" ng-if="::fliItem.title" fli-href="{{::fliItemCtrl.href(fliItem)}}" ng-attr-target="{{fliItemCtrl.target}}" ng-bind-html="::fliItem.title"></a>
      <div class="url-block" ng-if="::fliItem.url">
        <a class="url link" fli-href="{{::fliItemCtrl.site(fliItem)}}" ng-bind="::fliItemCtrl.host(fliItem)"></a>
      </div>
      <div class="clearfix" ng-if="::fliItem.content">
        <div ng-class="{crop:fliItemCtrl.limitTo && fliItem.content.length > fliItemCtrl.limitTo}" ng-bind-html="::fliItem.content"></div>
        <div class="bold link" ng-if="fliItemCtrl.limitTo && fliItem.content.length > fliItemCtrl.limitTo" ng-click="fliItemCtrl.limitTo=''">...</div>
      </div>
    </div>
    <ng-transclude class="clearfix" ng-if="::!fliItemCtrl.transclude"></ng-transclude>
  </md-card-content>
  <md-card-footer layout="row" layout-align="end center">
    <ng-transclude ng-if="::fliItemCtrl.transclude==='footer'"></ng-transclude>
    <div class="link" ng-if="::fliItemCtrl.search && fliItemCtrl.searchInput">
      <span>#</span>
      <a fli-href="{{::fliItemCtrl.search(fliItemCtrl.searchInput)}}">
        <span ng-bind="::fliItemCtrl.searchInput" translate translate-attr-title="uix.item.search" translate-values="::{v:fliItemCtrl.searchInput}"></span>
      </a>
    </div>
    <div class="link" ng-if="!fliItem.star" ng-click="fliItemCtrl.star(fliItem);fliItem.star=1;">
      <span ng-if="item.count > 1" ng-bind="item.count"></span> <i class="fa fa-star-o" translate translate-attr-title="uix.item.star" translate-values="::{v:fliItem.title}"></i>
    </div>
    <div class="link" ng-if="::fliItemCtrl.share" ng-click="fliItemCtrl.share(fliItem)">
      <i class="fa fa-share-alt" translate translate-attr-title="uix.item.share" translate-values="::{v:fliItem.title}"></i>
    </div>
    <div class="link" ng-if="::fliItem.url" ng-click="link(fliItem.url)">
      <i class="fa fa-external-link" translate translate-attr-title="uix.item.goTo" translate-values="::{v:fliItem.title}"></i>
    </div>
  </md-card-footer>
</md-card>
