fli-item {
  display: block;
}

.fli-item {
  outline: 0;
  max-width: 100%;
  box-shadow: none;
  border-radius: 16px;
  border: 1px solid #cccccc;
}

.fli-item md-card-content {
  max-width: 100%;
  min-width: 100%;
}

.fli-item .md-card-image,
.fli-item .img {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.fli-item .header {
  color: #fff;
  text-align: center;
  text-decoration: underline;
  line-height: 2em;
  font-size: 3em;
  min-height: 200px;
  max-height: 200px;
}

.fli-item.small .md-card-image,
.fli-item.small .img {
  min-width: 100px;
  max-width: 100px;
  border-radius: 50%;
}

.fli-item.small .header {
  min-height: 100px;
  max-height: 100px;
}

.fli-item.small .img {
  margin: 5px;
  float: left;
}

.fli-item .clearfix {
  margin-top: 7px;
}

.fli-item md-card-content,
.fli-item md-card-footer {
  padding: 0;
}

.fli-item md-card-footer .link {
  margin: 5px 10px 5px 10px;
}

.fli-item.nofill {
  border: none;
  background: transparent;
}

.fli-item .url-block {
  padding: 15px 0;
}

.fli-item .url {
  padding: 5px;
  border-radius: 16px;
  background: #e0e0e0;
  text-decoration: none;
}

.fli-item .crop {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 250px;
}




