<div layout="row" layout-align="center center">
  <md-button aria-label="looks" class="md-primary link" ng-click="widget.type='looks'"
             ng-class="{active:widget.type==='looks'}"
             ng-disabled="widget.type==='looks'">
    <i class="fa fa-clock-o fa-2x"></i>
    <span hide-xs translate="home.widget.tabs.looks"></span>
  </md-button>
  <md-button aria-label="stars" class="md-primary link" ng-click="widget.type='stars'"
             ng-class="{active:widget.type==='stars'}"
             ng-disabled="widget.type==='stars'">
    <i class="fa fa-star-o fa-2x"></i>
    <span hide-xs translate="home.widget.tabs.stars"></span>
  </md-button>
  <md-button aria-label="subscription" class="md-primary link" ng-click="widget.type='subscription'"
             ng-class="{active:widget.type==='subscription'}"
             ng-disabled="widget.type==='subscription'">
    <i class="fa fa-rss fa-2x"></i>
    <span hide-xs translate="home.widget.tabs.subscription"></span>
  </md-button>
</div>
