<div flex>

  <div class="block" layout="row" layout-align="center center">

    <md-input-container>
      <label translate="show.item.form.looks"></label>
      <input ng-model="showItem.post.look" min="1" max="5" type="number">
    </md-input-container>

    <div layout="row" class="block">
      <span translate="show.item.form.per"></span>
    </div>

    <md-radio-group ng-model="showItem.post.action" layout>
      <md-radio-button value="click" class="md-primary"><span translate="show.item.form.click"></span></md-radio-button>
      <md-radio-button value="share" class="md-primary"><span translate="show.item.form.share"></span></md-radio-button>
    </md-radio-group>

  </div>

  <div layout="row" layout-align="center center">
    <div ng-if="!fli.user" translate="index.input.note.needLogin" class="color-8"></div>
    <md-input-container ng-if="fli.user">
      <label translate="show.item.form.amount"></label>
      <input ng-model="showItem.post.amount" required type="number">
    </md-input-container>
    <md-button class="md-fab md-primary" aria-label="show" ng-disabled="!fli.user || !showItem.post.amount" ng-click="showItemForm.show()">
      <i class="fa fa-plus"></i> <span ng-bind="showItem.post.amount"></span>
    </md-button>
  </div>

</div>
