<!doctype html>
<html ng-app="freelook.info" ng-csp>
<head>
  <title ng-bind="fli.title"></title>
  <meta charset="utf-8">
  <meta name="fragment" content="!">
  <meta name="description" content="{{fli.description}}">
  <meta ng-if="fli.route.input" name="keywords" content="{{fli.route.input}}">
  <meta ng-if="fli.title" property="og:title" content="{{fli.title}}">
  <meta ng-if="fli.route.img" property="og:image" content="{{fli.fix(fli.route.img)}}">
  <link ng-if="fli.route.img" rel="image_src" href="{{fli.fix(fli.route.img)}}"/>
  <meta ng-if="fli.description" property="og:description" content="{{fli.description}}">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta property="fb:app_id" content="{{fli.config.API.FB.ID}}"/>
  <meta property="vk:app_id" content="{{fli.config.API.VK.ID}}"/>
  <meta http-equiv="Content-Security-Policy">

  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" type="image/png" href="/assets/images/icon.png">
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/jlpjaecnenjbpkbcpnocbeibjokkbnhj">
  <link ng-repeat="locale in fli.locales" rel="alternate" href="{{href(locale.code)}}" hreflang="{{locale.code}}">

  <!-- build:css({.tmp,src}) styles/fli.css-->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular/angular-csp.css" />
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
  <!-- endbower -->

  <!-- inject:css -->
  <link rel="stylesheet" href="components/_index/index.css">
  <link rel="stylesheet" href="components/feedback/feedback.css">
  <link rel="stylesheet" href="components/home/home.css">
  <link rel="stylesheet" href="components/look/look.css">
  <link rel="stylesheet" href="components/search/search.css">
  <link rel="stylesheet" href="components/show/show.css">
  <link rel="stylesheet" href="components/_index/footer/footer.css">
  <link rel="stylesheet" href="components/_index/input/input.css">
  <link rel="stylesheet" href="components/_index/setting/setting.css">
  <link rel="stylesheet" href="components/feedback/comments/comments.css">
  <link rel="stylesheet" href="components/home/chips/chips.css">
  <link rel="stylesheet" href="components/home/widget/widget.css">
  <link rel="stylesheet" href="components/look/chips/chips.css">
  <link rel="stylesheet" href="components/look/content/content.css">
  <link rel="stylesheet" href="components/look/suggest/suggest.css">
  <link rel="stylesheet" href="components/search/chips/chips.css">
  <link rel="stylesheet" href="components/search/menu/menu.css">
  <link rel="stylesheet" href="components/search/result/result.css">
  <link rel="stylesheet" href="components/search/suggest/suggest.css">
  <link rel="stylesheet" href="components/show/item/item.css">
  <link rel="stylesheet" href="components/_index/input/menu/menu.css">
  <link rel="stylesheet" href="components/_index/input/notice/notice.css">
  <link rel="stylesheet" href="components/_index/setting/login/login.css">
  <link rel="stylesheet" href="components/_index/setting/user/user.css">
  <link rel="stylesheet" href="components/home/chips/type/type.css">
  <link rel="stylesheet" href="components/home/widget/looks/looks.css">
  <link rel="stylesheet" href="components/home/widget/news/news.css">
  <link rel="stylesheet" href="components/home/widget/promo/promo.css">
  <link rel="stylesheet" href="components/home/widget/trends/trends.css">
  <link rel="stylesheet" href="components/look/content/facebook/facebook.css">
  <link rel="stylesheet" href="components/look/content/full/full.css">
  <link rel="stylesheet" href="components/look/content/instagram/instagram.css">
  <link rel="stylesheet" href="components/look/content/pinterest/pinterest.css">
  <link rel="stylesheet" href="components/look/content/vk/vk.css">
  <link rel="stylesheet" href="components/look/content/youtube/youtube.css">
  <link rel="stylesheet" href="components/search/chips/type/type.css">
  <link rel="stylesheet" href="components/search/menu/lucky/lucky.css">
  <link rel="stylesheet" href="components/search/result/actions/actions.css">
  <link rel="stylesheet" href="components/search/result/audio/audio.css">
  <link rel="stylesheet" href="components/search/result/goods/goods.css">
  <link rel="stylesheet" href="components/search/result/images/image.css">
  <link rel="stylesheet" href="components/search/result/news/news.css">
  <link rel="stylesheet" href="components/search/result/people/people.css">
  <link rel="stylesheet" href="components/search/result/promo/promo.css">
  <link rel="stylesheet" href="components/search/result/video/video.css">
  <link rel="stylesheet" href="components/search/result/web/web.css">
  <link rel="stylesheet" href="components/show/item/form/form.css">
  <link rel="stylesheet" href="components/show/item/link/link.css">
  <link rel="stylesheet" href="components/_index/core/uix/animation/animation.css">
  <link rel="stylesheet" href="components/_index/core/uix/apps/apps.css">
  <link rel="stylesheet" href="components/_index/core/uix/chips/chips.css">
  <link rel="stylesheet" href="components/_index/core/uix/donate/donate.css">
  <link rel="stylesheet" href="components/_index/core/uix/fa/fa.css">
  <link rel="stylesheet" href="components/_index/core/uix/grid/grid.css">
  <link rel="stylesheet" href="components/_index/core/uix/item/item.css">
  <link rel="stylesheet" href="components/_index/core/uix/logo/logo.css">
  <link rel="stylesheet" href="components/_index/core/uix/polyfill/polyfill.css">
  <link rel="stylesheet" href="components/_index/core/uix/rating/fli.rating.css">
  <link rel="stylesheet" href="components/_index/core/uix/share/share.css">
  <link rel="stylesheet" href="components/_index/core/uix/toast/toast.css">
  <link rel="stylesheet" href="components/look/content/full/rich/rich.css">
  <link rel="stylesheet" href="components/look/content/instagram/media/media.css">
  <link rel="stylesheet" href="components/look/content/instagram/user/user.css">
  <link rel="stylesheet" href="components/look/content/pinterest/board/board.css">
  <link rel="stylesheet" href="components/look/content/pinterest/user/user.css">
  <link rel="stylesheet" href="components/look/content/vk/group/group.css">
  <link rel="stylesheet" href="components/look/content/vk/user/user.css">
  <link rel="stylesheet" href="components/look/content/vk/video/video.css">
  <link rel="stylesheet" href="components/look/content/vk/wall/wall.css">
  <link rel="stylesheet" href="components/look/content/youtube/channel/channel.css">
  <link rel="stylesheet" href="components/look/content/youtube/user/user.css">
  <link rel="stylesheet" href="components/look/content/youtube/watch/watch.css">
  <link rel="stylesheet" href="components/search/chips/type/sub/sub.css">
  <link rel="stylesheet" href="components/search/result/actions/twitter/twitter.css">
  <link rel="stylesheet" href="components/search/result/actions/vk/vk.css">
  <link rel="stylesheet" href="components/search/result/goods/amazon/amazon.css">
  <link rel="stylesheet" href="components/search/result/goods/yandex/yandex.css">
  <link rel="stylesheet" href="components/search/result/images/google/google.css">
  <link rel="stylesheet" href="components/search/result/images/instagram/instagram.css">
  <link rel="stylesheet" href="components/search/result/images/twitter/twitter.css">
  <link rel="stylesheet" href="components/search/result/news/google/google.css">
  <link rel="stylesheet" href="components/search/result/people/facebook/facebook.css">
  <link rel="stylesheet" href="components/search/result/people/google/google.css">
  <link rel="stylesheet" href="components/search/result/people/twitter/twitter.css">
  <link rel="stylesheet" href="components/search/result/people/vk/vk.css">
  <link rel="stylesheet" href="components/search/result/video/google/google.css">
  <link rel="stylesheet" href="components/search/result/video/vk/vk.css">
  <link rel="stylesheet" href="components/search/result/web/facebook/facebook.css">
  <link rel="stylesheet" href="components/search/result/web/google/google.css">
  <link rel="stylesheet" href="components/search/result/web/pinterest/pinterest.css">
  <link rel="stylesheet" href="components/search/result/web/vk/vk.css">
  <link rel="stylesheet" href="components/_index/core/uix/item/edit/edit.css">
  <link rel="stylesheet" href="components/_index/core/uix/locale/panel/panel.css">
  <link rel="stylesheet" href="components/look/content/full/read/readability/readability.css">
  <link rel="stylesheet" href="components/search/result/web/google/trends/trends.css">
  <!-- endinject -->
  <!-- endbuild -->

</head>

<body ng-controller="index.ctrl as index" fli-polyfill>

<!-- View -->
<ng-include src="fli.view" layout="column" layout-fill ng-if="fli.view"></ng-include>
<ng-view id="view" layout="column" layout-fill ng-hide="fli.view"></ng-view>
<webview id="prerender" ng-hide="true" width="0" height="0"></webview>

<script src="cordova.js"></script>
<!-- build:js({.tmp,src}) scripts/fli.js-->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/socket.io-client/socket.io.js"></script>
<script src="bower_components/url-pattern/lib/url-pattern.js"></script>
<script src="bower_components/angular-media-player/dist/angular-media-player.min.js"></script>
<script src="bower_components/parse/parse.min.js"></script>
<!-- endbower -->

<!-- inject:js -->
<script src="components/_index/__index.module.js"></script>
<script src="components/_index/index.controller.js"></script>
<script src="components/_index/index.factory.js"></script>
<script src="components/feedback/_feedback.module.js"></script>
<script src="components/feedback/feedback.controller.js"></script>
<script src="components/home/_home.module.js"></script>
<script src="components/home/home.controller.js"></script>
<script src="components/look/_look.module.js"></script>
<script src="components/look/look.controller.js"></script>
<script src="components/search/_search.module.js"></script>
<script src="components/search/search.controller.js"></script>
<script src="components/show/_show.module.js"></script>
<script src="components/show/show.controller.js"></script>
<script src="components/show/show.model.factory.js"></script>
<script src="components/_index/core/analytics.factory.js"></script>
<script src="components/_index/core/io.factory.js"></script>
<script src="components/_index/core/loader.interseptor.js"></script>
<script src="components/_index/core/nav.factory.js"></script>
<script src="components/_index/core/parse.factory.js"></script>
<script src="components/_index/core/parser.html.factory.js"></script>
<script src="components/_index/core/platform.provider.js"></script>
<script src="components/_index/core/prerender.factory.js"></script>
<script src="components/_index/core/url.factory.js"></script>
<script src="components/_index/footer/footer.controller.js"></script>
<script src="components/_index/footer/footer.directive.js"></script>
<script src="components/_index/i18n/en.js"></script>
<script src="components/_index/i18n/ru.js"></script>
<script src="components/_index/input/input.controller.js"></script>
<script src="components/_index/input/input.directive.js"></script>
<script src="components/_index/setting/setting.controller.js"></script>
<script src="components/_index/setting/setting.directive.js"></script>
<script src="components/feedback/comments/comments.controller.js"></script>
<script src="components/feedback/comments/comments.directive.js"></script>
<script src="components/feedback/i18n/en.js"></script>
<script src="components/feedback/i18n/ru.js"></script>
<script src="components/home/chips/chips.controller.js"></script>
<script src="components/home/chips/chips.directive.js"></script>
<script src="components/home/i18n/en.js"></script>
<script src="components/home/i18n/ru.js"></script>
<script src="components/home/widget/widget.controller.js"></script>
<script src="components/home/widget/widget.directive.js"></script>
<script src="components/look/chips/chips.controller.js"></script>
<script src="components/look/chips/chips.directive.js"></script>
<script src="components/look/content/content.controller.js"></script>
<script src="components/look/content/content.directive.js"></script>
<script src="components/look/content/content.factory.js"></script>
<script src="components/look/i18n/en.js"></script>
<script src="components/look/i18n/ru.js"></script>
<script src="components/look/suggest/suggest.controller.js"></script>
<script src="components/look/suggest/suggest.directive.js"></script>
<script src="components/search/chips/chips.controller.js"></script>
<script src="components/search/chips/chips.directive.js"></script>
<script src="components/search/i18n/en.js"></script>
<script src="components/search/i18n/ru.js"></script>
<script src="components/search/menu/menu.directive.js"></script>
<script src="components/search/result/result.controller.js"></script>
<script src="components/search/result/result.directive.js"></script>
<script src="components/search/suggest/suggest.controller.js"></script>
<script src="components/search/suggest/suggest.directive.js"></script>
<script src="components/search/suggest/suggest.factory.js"></script>
<script src="components/show/i18n/en.js"></script>
<script src="components/show/i18n/ru.js"></script>
<script src="components/show/input/input.controller.js"></script>
<script src="components/show/input/input.directive.js"></script>
<script src="components/show/item/item.controller.js"></script>
<script src="components/show/item/item.directive.js"></script>
<script src="components/_index/core/auth/auth.factory.js"></script>
<script src="components/_index/core/api/api.app.factory.js"></script>
<script src="components/_index/core/api/api.factory.js"></script>
<script src="components/_index/core/api/api.site.factory.js"></script>
<script src="components/_index/core/config/config.development.js"></script>
<script src="components/_index/core/cordova/inAppBrowser.factory.js"></script>
<script src="components/_index/core/cordova/splash.factory.js"></script>
<script src="components/_index/core/storage/chrome.storage.factory.js"></script>
<script src="components/_index/core/storage/custom.storage.factory.js"></script>
<script src="components/_index/core/storage/local.storage.factory.js"></script>
<script src="components/_index/core/storage/storage.factory.js"></script>
<script src="components/_index/core/user/user.factory.js"></script>
<script src="components/_index/core/utils/domparser.util.js"></script>
<script src="components/_index/core/utils/duration.filter.js"></script>
<script src="components/_index/core/utils/fli.bind.compile.js"></script>
<script src="components/_index/core/utils/fli.error.js"></script>
<script src="components/_index/core/utils/fli.href.js"></script>
<script src="components/_index/core/utils/hide-on-scroll.directive.js"></script>
<script src="components/_index/input/menu/menu.controller.js"></script>
<script src="components/_index/input/menu/menu.directive.js"></script>
<script src="components/_index/input/notice/notice.controller.js"></script>
<script src="components/_index/input/notice/notice.directive.js"></script>
<script src="components/_index/input/notice/notice.factory.js"></script>
<script src="components/_index/input/notice/notices.factory.js"></script>
<script src="components/_index/setting/login/login.controller.js"></script>
<script src="components/_index/setting/login/login.directive.js"></script>
<script src="components/_index/setting/user/user.controller.js"></script>
<script src="components/_index/setting/user/user.directive.js"></script>
<script src="components/home/chips/type/type.controller.js"></script>
<script src="components/home/chips/type/type.directive.js"></script>
<script src="components/home/widget/looks/looks.controller.js"></script>
<script src="components/home/widget/looks/looks.directive.js"></script>
<script src="components/home/widget/news/news.directive.js"></script>
<script src="components/home/widget/promo/promo.directive.js"></script>
<script src="components/home/widget/trends/trends.directive.js"></script>
<script src="components/look/content/facebook/facebook.controller.js"></script>
<script src="components/look/content/facebook/facebook.directive.js"></script>
<script src="components/look/content/full/full.controller.js"></script>
<script src="components/look/content/full/full.directive.js"></script>
<script src="components/look/content/full/full.factory.js"></script>
<script src="components/look/content/instagram/instagram.controller.js"></script>
<script src="components/look/content/instagram/instagram.directive.js"></script>
<script src="components/look/content/pinterest/pinterest.controller.js"></script>
<script src="components/look/content/pinterest/pinterest.directive.js"></script>
<script src="components/look/content/vk/vk.controller.js"></script>
<script src="components/look/content/vk/vk.directive.js"></script>
<script src="components/look/content/youtube/youtube.controller.js"></script>
<script src="components/look/content/youtube/youtube.directive.js"></script>
<script src="components/search/chips/type/type.controller.js"></script>
<script src="components/search/chips/type/type.directive.js"></script>
<script src="components/search/menu/lucky/lucky.controller.js"></script>
<script src="components/search/menu/lucky/lucky.directive.js"></script>
<script src="components/search/result/actions/actions.controller.js"></script>
<script src="components/search/result/actions/actions.directive.js"></script>
<script src="components/search/result/audio/audio.controller.js"></script>
<script src="components/search/result/audio/audio.directive.js"></script>
<script src="components/search/result/goods/goods.controller.js"></script>
<script src="components/search/result/goods/goods.directive.js"></script>
<script src="components/search/result/images/image.controller.js"></script>
<script src="components/search/result/images/image.directive.js"></script>
<script src="components/search/result/news/news.controller.js"></script>
<script src="components/search/result/news/news.directive.js"></script>
<script src="components/search/result/people/people.controller.js"></script>
<script src="components/search/result/people/people.directive.js"></script>
<script src="components/search/result/promo/promo.controller.js"></script>
<script src="components/search/result/promo/promo.directive.js"></script>
<script src="components/search/result/video/video.controller.js"></script>
<script src="components/search/result/video/video.directive.js"></script>
<script src="components/search/result/web/web.controller.js"></script>
<script src="components/search/result/web/web.directive.js"></script>
<script src="components/show/item/form/form.controller.js"></script>
<script src="components/show/item/form/form.directive.js"></script>
<script src="components/show/item/link/link.controller.js"></script>
<script src="components/show/item/link/link.directive.js"></script>
<script src="components/_index/core/api/facebook/FB.factory.js"></script>
<script src="components/_index/core/api/facebook/facebook.factory.js"></script>
<script src="components/_index/core/api/google/_google.factory.js"></script>
<script src="components/_index/core/api/google/google.chrome.factory.js"></script>
<script src="components/_index/core/api/google/google.site.factory.js"></script>
<script src="components/_index/core/api/instagram/instagram.factory.js"></script>
<script src="components/_index/core/api/pinterest/pinterest.factory.js"></script>
<script src="components/_index/core/api/promo/promo.factory.js"></script>
<script src="components/_index/core/api/twitter/twitter.factory.js"></script>
<script src="components/_index/core/api/vk/vk.factory.js"></script>
<script src="components/_index/core/api/yandex/yandex.factory.js"></script>
<script src="components/_index/core/api/youtube/youtube.factory.js"></script>
<script src="components/_index/core/uix/apps/apps.controller.js"></script>
<script src="components/_index/core/uix/apps/apps.directive.js"></script>
<script src="components/_index/core/uix/donate/donate.controller.js"></script>
<script src="components/_index/core/uix/donate/donate.directive.js"></script>
<script src="components/_index/core/uix/item/item.controller.js"></script>
<script src="components/_index/core/uix/item/item.directive.js"></script>
<script src="components/_index/core/uix/item/item.factory.js"></script>
<script src="components/_index/core/uix/item/item.img.directive.js"></script>
<script src="components/_index/core/uix/locale/locale.factory.js"></script>
<script src="components/_index/core/uix/locale/locales.constant.js"></script>
<script src="components/_index/core/uix/logo/logo.directive.js"></script>
<script src="components/_index/core/uix/polyfill/polyfill.directive.js"></script>
<script src="components/_index/core/uix/rating/fli.rating.js"></script>
<script src="components/_index/core/uix/scroll/scroll.factory.js"></script>
<script src="components/_index/core/uix/share/share.controller.js"></script>
<script src="components/_index/core/uix/share/share.directive.js"></script>
<script src="components/_index/core/uix/share/share.factory.js"></script>
<script src="components/_index/core/uix/toast/toast.factory.js"></script>
<script src="components/look/content/full/read/read.factory.js"></script>
<script src="components/look/content/full/rich/rich.controller.js"></script>
<script src="components/look/content/full/rich/rich.directive.js"></script>
<script src="components/look/content/full/rich/rich.factory.js"></script>
<script src="components/look/content/instagram/media/media.controller.js"></script>
<script src="components/look/content/instagram/media/media.directive.js"></script>
<script src="components/look/content/instagram/user/user.controller.js"></script>
<script src="components/look/content/instagram/user/user.directive.js"></script>
<script src="components/look/content/pinterest/board/board.controller.js"></script>
<script src="components/look/content/pinterest/board/board.directive.js"></script>
<script src="components/look/content/pinterest/user/user.controller.js"></script>
<script src="components/look/content/pinterest/user/user.directive.js"></script>
<script src="components/look/content/vk/group/group.controller.js"></script>
<script src="components/look/content/vk/group/group.directive.js"></script>
<script src="components/look/content/vk/user/user.controller.js"></script>
<script src="components/look/content/vk/user/user.directive.js"></script>
<script src="components/look/content/vk/video/video.controller.js"></script>
<script src="components/look/content/vk/video/video.directive.js"></script>
<script src="components/look/content/vk/wall/wall.controller.js"></script>
<script src="components/look/content/vk/wall/wall.directive.js"></script>
<script src="components/look/content/youtube/channel/channel.controller.js"></script>
<script src="components/look/content/youtube/channel/channel.directive.js"></script>
<script src="components/look/content/youtube/user/user.controller.js"></script>
<script src="components/look/content/youtube/user/user.directive.js"></script>
<script src="components/look/content/youtube/watch/watch.controller.js"></script>
<script src="components/look/content/youtube/watch/watch.directive.js"></script>
<script src="components/search/chips/type/sub/sub.controller.js"></script>
<script src="components/search/chips/type/sub/sub.directive.js"></script>
<script src="components/search/result/actions/twitter/twitter.controller.js"></script>
<script src="components/search/result/actions/twitter/twitter.directive.js"></script>
<script src="components/search/result/actions/vk/vk.controller.js"></script>
<script src="components/search/result/actions/vk/vk.directive.js"></script>
<script src="components/search/result/goods/amazon/amazon.controller.js"></script>
<script src="components/search/result/goods/amazon/amazon.directive.js"></script>
<script src="components/search/result/goods/yandex/yandex.controller.js"></script>
<script src="components/search/result/goods/yandex/yandex.directive.js"></script>
<script src="components/search/result/images/google/google.controller.js"></script>
<script src="components/search/result/images/google/google.directive.js"></script>
<script src="components/search/result/images/instagram/instagram.controller.js"></script>
<script src="components/search/result/images/instagram/instagram.directive.js"></script>
<script src="components/search/result/images/twitter/twitter.controller.js"></script>
<script src="components/search/result/images/twitter/twitter.directive.js"></script>
<script src="components/search/result/news/google/google.controller.js"></script>
<script src="components/search/result/news/google/google.directive.js"></script>
<script src="components/search/result/people/facebook/facebook.controller.js"></script>
<script src="components/search/result/people/facebook/facebook.directive.js"></script>
<script src="components/search/result/people/google/google.controller.js"></script>
<script src="components/search/result/people/google/google.directive.js"></script>
<script src="components/search/result/people/twitter/twitter.controller.js"></script>
<script src="components/search/result/people/twitter/twitter.directive.js"></script>
<script src="components/search/result/people/vk/vk.controller.js"></script>
<script src="components/search/result/people/vk/vk.directive.js"></script>
<script src="components/search/result/video/google/google.controller.js"></script>
<script src="components/search/result/video/google/google.directive.js"></script>
<script src="components/search/result/video/vk/vk.controller.js"></script>
<script src="components/search/result/video/vk/vk.directive.js"></script>
<script src="components/search/result/web/facebook/facebook.controller.js"></script>
<script src="components/search/result/web/facebook/facebook.directive.js"></script>
<script src="components/search/result/web/google/google.controller.js"></script>
<script src="components/search/result/web/google/google.directive.js"></script>
<script src="components/search/result/web/pinterest/pinterest.controller.js"></script>
<script src="components/search/result/web/pinterest/pinterest.directive.js"></script>
<script src="components/search/result/web/vk/vk.controller.js"></script>
<script src="components/search/result/web/vk/vk.directive.js"></script>
<script src="components/_index/core/api/google/plus/google.plus.factory.js"></script>
<script src="components/_index/core/api/google/url/google.url.factory.js"></script>
<script src="components/_index/core/uix/item/edit/edit.controller.js"></script>
<script src="components/_index/core/uix/item/edit/edit.directive.js"></script>
<script src="components/_index/core/uix/item/icon/icon.directive.js"></script>
<script src="components/_index/core/uix/locale/panel/panel.controller.js"></script>
<script src="components/_index/core/uix/locale/panel/panel.directive.js"></script>
<script src="components/look/content/full/read/readability/readability.js"></script>
<script src="components/search/result/web/google/trends/trends.controller.js"></script>
<script src="components/search/result/web/google/trends/trends.directive.js"></script>
<script src="components/search/result/web/google/trends/trends.factory.js"></script>
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automaticaly converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
