<h1 class="app-name upper-text text-center" data-i18n="freelook"></h1>

<div class="scrollable" data-ng-controller="StartController">
    <div class="scrollable-content">
        <div>
            <div class="page-signin">

                <div class="signin-body">
                    <div class="form-container">

                        <section class="text-center">
                            <span data-ng-if="!auth.isVK()" class="btn-vk-round" data-ng-click="vk_oauth()">
                                <i class="fa fa-vk"></i>
                            </span>
                            <img data-ng-if="auth.isVK()" ng-src="{{auth.user.vk.photo_50}}" title="vkontakte"
                                 class="img-circle img50_50" data-ng-click="go({profile:'vk'})">

                            <div class="space"></div>
                            <span class="btn-facebook-round" data-ng-click="go({profile:'facebook'})"><i
                                    class="fa fa-facebook"></i></span>

                            <div class="space"></div>
                            <span class="btn-twitter-round" data-ng-click="go({profile:'twitter'})"><i
                                    class="fa fa-twitter"></i></span>

                            <div class="space"></div>
                            <span class="btn-google-plus-round" data-ng-click="go({profile:'google'})"><i
                                    class="fa fa-google-plus"></i></span>

                            <div class="space"></div>
                            <span class="btn-google-plus-round" data-ng-click="go({profile:'instagram'})"><i
                                    class="fa fa-instagram"></i></span>
                        </section>

                        <span class="line-thru upper-text" data-i18n="Info"></span>

                        <section>
                            <div data-ng-show="!route.profile" id="vk_post"></div>
                            <div class="panel panel-default" data-ng-show="route.profile">
                                <div class="panel-heading">
                                    <strong>
                                        <span class="glyphicon glyphicon-th"></span>
                                        <span data-i18n="Profile_"></span><span>{{route.profile}}</span>
                                    </strong>

                                    <div class="pull-right">
                                        <a data-ng-if="auth.isVK()" data-ng-click="clear()" data-i18n="sign out"></a>
                                        <span data-ng-if="!auth.isVK()" data-i18n="sign in"></span>
                                    </div>
                                </div>
                                <div class="panel-body">

                                    <div class="media">
                                        <div class="media-body center" data-ng-if="!auth.isVK()">

                                            <div class="btn btn-signin">
                                                <div id="vk_signin" data-ng-show="route.profile === 'vk'"
                                                     class="auto"></div>
                                                <div class="auto" data-ng-show="route.profile !== 'vk'"
                                                     data-i18n="soon"></div>
                                            </div>
                                        </div>
                                        <div class="media-body" data-ng-if="auth.isVK()">
                                            <ul class="list-unstyled list-info">
                                                <li>
                                                    <span class="icon glyphicon glyphicon-user"></span>
                                                    <label>User name</label>
                                                    {{auth.user.vk.email}}
                                                </li>

                                                <li>
                                                    <span class="icon glyphicon glyphicon-globe"></span>
                                                    <label>ID</label>
                                                    {{auth.user.vk.user_id}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>


                    </div>
                </div>
            </div>
        </div>


        <div ng-if="false" class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading" toggle target="collapseOne">
                    <h4 class="panel-title">
                        Collapsible Group Item #1
                    </h4>
                </div>
                <div id="collapseOne" toggleable active-class="in" exclusion-group="accordion1" default="active"
                     class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" toggle target="collapseTwo">
                    <h4 class="panel-title">

                        Collapsible Group Item #2
                    </h4>
                </div>
                <div id="collapseTwo" toggleable active-class="in" exclusion-group="accordion1"
                     class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" toggle target="collapseThree">
                    <h4 class="panel-title">
                        Collapsible Group Item #3
                    </h4>
                </div>
                <div id="collapseThree" toggleable active-class="in" exclusion-group="accordion1"
                     class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group" toggle="off" bubble target="left-sidebar">
                            <li><a class="list-group-item" href="#!/"><span data-i18n="Home"></span><i
                                    class="fa fa-chevron-right pull-right"></i></a></li>
                            <li><a class="list-group-item" href="#!/profile"><span data-i18n="Users"></span><i
                                    class="fa fa-chevron-right pull-right"></i></a></li>
                            <li><a class="list-group-item" href="#!/articles"><span data-i18n="Articles"></span><i
                                    class="fa fa-chevron-right pull-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

