fli-look-content-full {
  display: block;
}

fli-look-content-full .full.fli-item .header,
fli-look-content-full .full.fli-item .title {
  display: none;
}

fli-look-content-full .full.fli-item .clearfix {
  clear: none;
}
