fli-look-content-full {
  display: block;
}

fli-look-content-full .full.fli-item .title {
  display: none;
}

fli-look-content-full .full.fli-item .clearfix {
  clear: none;
}

fli-look-content-full .full img,
fli-look-content-full .full iframe {
  max-width: 100%;
  clear: both;
  display: block;
}

fli-look-content-full .full h1,
fli-look-content-full .full h2,
fli-look-content-full .full h3 {
  font-size: 1.2em;
}

fli-look-content-full .full ul {
  list-style: none;
}

fli-look-content-full .full img.fli-item-img-small {
  float: left;
  clear: both;
  margin: 3px;
}

fli-look-content-full .full .active {
  color: inherit;
  text-shadow: none;
}

fli-look-content-full .types {
  margin: 0 7px;
}

fli-look-content-full .types a.link {
  margin: 0 5px;
  padding: 8px;
  border-radius: 16px;
  background: rgb(224, 224, 224);
}
