<fli-look-content-rich></fli-look-content-rich>

<noindex ng-if="fullCtrl.html">
  <fli-item class="full" ng-init="fliItem = {
          small: 1,
          url: fli.route.url,
          img:fli.route.img,
          title:fli.route.input,
          titleNoFormatting: fli.title,
          contentNoFormatting: fli.description
          };
          fliItemCtrl.href=content.href;
          fliItemCtrl.share=fullCtrl.share;">

    <div class="block">
      <div class="clearfix" fli-bind-compile="fullCtrl.html"></div>
    </div>

  </fli-item>
</noindex>

<fli-look-suggest ng-show="!fli.progress" class="fli-grid" ng-if="site.host"></fli-look-suggest>
