<fli-look-content-rich></fli-look-content-rich>

<div ng-if="fullCtrl.article">

  <fli-item class="full" ng-init="fliItem = {
          small: 1,
          url: fli.route.url,
          img:fli.route.img,
          title: fullCtrl.article.title || fli.route.input
          };
          fliItemCtrl.href=content.href;
          fliItemCtrl.share=fullCtrl.share;">

    <div class="block">
      <div class="clearfix" fli-bind-compile="fullCtrl.article.content"></div>
    </div>

  </fli-item>
</div>

<fli-look-suggest ng-show="!fli.progress" class="fli-grid" ng-if="site.host"></fli-look-suggest>
