<div flex>

  <md-radio-group ng-model="showItem.post.action" layout>
    <md-radio-button value="click" class="md-primary" ng-disabled="1">CLICK</md-radio-button>
    <md-radio-button value="like" class="md-primary">LIKE</md-radio-button>
  </md-radio-group>

  <div class="block" layout="row" layout-align="center center">
    <md-slider flex md-discrete ng-model="showItem.post.looks" min="1" max="10" id="looks-slider" aria-label="looks" class="md-primary"></md-slider>
    <div>
      <span ng-bind="showItem.post.looks"></span>
      <i>look's</i>
    </div>
  </div>

  <div layout="row" layout-align="center center">
    <md-button class="md-fab md-primary" aria-label="show" ng-disabled="!showItem.post.looks"
               ng-click="showItemConfig.show()">
      <i class="fa fa-plus"></i>
    </md-button>
  </div>

</div>
