fli-search-result-web-pinterest {
  display: block;
}

fli-search-result-web-pinterest .board img {
  margin-right: 7px;
  max-width: 50px;
  max-height: 50px;
}

fli-search-result-web-pinterest .board {
  text-decoration: none;
  border-top: 1px #cccccc dashed;
  border-bottom: 1px #cccccc dashed;
}
