@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #3f51b5;
  padding: 0.2em 0;
}

md-toolbar.md-indigo-theme {
  background: #fff !important;
}

md-input-group.md-indigo-theme {
  text-align: center !important;
}

md-input-group.md-indigo-theme.md-input-has-value,
md-input-group.md-indigo-theme.md-input-focused {
  text-align: left !important;
}

md-input-group.md-indigo-theme input {
  text-align: center !important;
}




