html, header, body, footer {
  background: #ebebeb;
}

header {
  z-index: 999;
}

md-whiteframe,
md-card {
  overflow-x: hidden;
  background: #ffffff;
}

md-tabs, md-card, md-card-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

md-toast.md-default-theme {
  text-align: center;
}

md-whiteframe {
  padding: 5px;
  margin: 5px;
}

.vm {
  min-height: 75vmax;
}

.link {
  color: #1F00EF;
  cursor: pointer;
  outline: 0;
}

.underline {
  text-decoration: underline;
}

/* Animation */

@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.animate .ng-enter {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate .ng-enter {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}





