html, body {
  overflow-y: visible;
}

a,
a:link,
a:visited,
a:active,
a:hover,
.link {
  outline: 0;
  color: #1f00ef;
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.no-decoration {
  text-decoration: none;
}

.header {
  background: #673AB7;
}

.circle {
  border-radius: 50%;
}

.clearfix {
  clear: both;
}

.active,
a.active {
  color: #888888;
  text-shadow: 3px 3px 13px #888888;
}

.color-8 {
  color: #888888;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-upper {
  text-transform: uppercase;
}

.border {
  border-top: 1px solid #cccccc;
}

.bold {
  font-weight: bold;
}

.float-right {
  float: right;
}

.margin-top {
  margin-top: 7px;
}





