md-whiteframe {
  overflow-x: hidden;
}

md-tabs {
  overflow: hidden;
}

md-progress-linear {
  height: 3px;
}

md-toast.md-default-theme {
  background-color: rgba(37, 37, 217, 0.7) !important;
  text-align: center;
}





