fli-search-suggest {
  margin: 0;
  padding: 0;
}

fli-search-suggest md-whiteframe {
  color: #999999;
}

fli-search-suggest .result {
  text-align: justify;
}

fli-search-suggest .result a {
  margin: 5px;
  display: inline-block;
}
