<div ng-if="vk.user">
  <fli-item ng-init="fliItem = {
          small: 1,
          nofill:1,
          url:fli.route.url,
          img:vk.user.photo_200,
          title:vk.user.first_name + ' ' + vk.user.last_name,
          content:vk.user.uid
          };">

    <div class="block">
      <div layout="row" ng-if="vk.user.status">
        <div flex="33">
          <p>Status:</p>
        </div>
        <div flex="66">
          <p ng-bind="vk.user.status"></p>
        </div>
      </div>
      <div layout="row" ng-if="vk.user.home_town">
        <div flex="33">
          <p>Hometown:</p>
        </div>
        <div flex="66">
          <p ng-bind="vk.user.home_town"></p>
        </div>
      </div>
    </div>

  </fli-item>

</div>
