<div class="fli-grid" ng-if="stars.items.length">
  <div ng-repeat="item in stars.items | limitTo:stars.limitTo | filter:fli.route.input || ''">
    <fli-item ng-init="fliItem = {
          url:item.url,
          img:item.img,
          title:item.title,
          content: item.content,
          input:item.input,
          type:item.type,
          sub:item.sub
          };
          fliItemCtrl.transclude='footer';
          fliItemCtrl.searchInput=item.input;
          fliItemCtrl.href=widget.href;
          fliItemCtrl.search=widget.search;
          fliItemCtrl.share=widget.share;">

      <div class="clear link" ng-if="::stars.canEdit()" ng-click="stars.clearItem(item)">
        <i class="fa fa-close" translate translate-attr-title="uix.item.clearIt"></i>
      </div>

    </fli-item>

    <fli-more ng-if="$last && stars.limitTo < stars.items.length" more="stars.more()"></fli-more>

  </div>
</div>

<fli-welcome ng-if="!stars.items.length"></fli-welcome>

