<div class="fli-grid" ng-if="stars.items.length">
  <fli-item ng-repeat="item in stars.items | filter:fli.route.input || ''"
            ng-init="fliItem = {
          url:item.url,
          star: 1,
          img:item.img,
          title:item.input,
          input:item.input,
          searchInput:item.input,
          type:item.type,
          sub:item.sub,
          transclude:'footer'
          };
          fliItemCtrl.href=widget.href;
          fliItemCtrl.search=widget.search;">

    <div class="clear link" ng-click="stars.clearItem(item)">
      <i class="fa fa-close" translate translate-attr-title="index.core.uix.item.clearIt"></i>
    </div>

  </fli-item>
</div>

<fli-welcome ng-if="!stars.items.length"></fli-welcome>

