<div ng-if="fb.user">
  <fli-item ng-init="fliItem = {
          small:1,
          nofill:1,
          url:fb.user.link,
          img:fb.img(fb.user.id),
          title:fb.user.name
          };
          fliItemCtrl.href=content.href;">

    <div class="block">
      <div layout="row" ng-if="fb.user.category">
        <div flex="33">
          <p>Category:</p>
        </div>
        <div flex="66">
          <p ng-bind="::fb.user.category"></p>
        </div>
      </div>
      <div layout="row" ng-if="fb.user.about">
        <div flex="33">
          <p>About:</p>
        </div>
        <div flex="66">
          <p ng-bind="::fb.user.about"></p>
        </div>
      </div>
      <div layout="row" ng-if="fb.user.description">
        <div flex="33">
          <p>Description:</p>
        </div>
        <div flex="66">
          <p ng-bind="::fb.user.description"></p>
        </div>
      </div>
      <div layout="row" ng-if="fb.user.link">
        <div class="link" ng-click="link(fb.user.link)">
          <p ng-bind="::fb.user.link"></p>
        </div>
      </div>
    </div>

  </fli-item>
</div>

