<md-card layout-sm="column" layout="row" ng-if="fb.user">
  <img flex-gt-sm="33" class="md-card-image" ng-click="link(fb.user.link)" ng-if="!!fb.user.id" ng-src="{{fb.img(fb.user.id)}}" fli-err>
  <md-card-content flex>
    <h3 class="md-title" ng-bind="fb.user.name"></h3>
    <md-divider></md-divider>
    <div>
      <div layout="row" ng-if="fb.user.category">
        <div flex="33">
          <p>Category:</p>
        </div>
        <div flex="66">
          <p ng-bind="fb.user.category"></p>
        </div>
      </div>
      <div layout="row" ng-if="fb.user.about">
        <div flex="33">
          <p>About:</p>
        </div>
        <div flex="66">
          <p ng-bind="fb.user.about"></p>
        </div>
      </div>
      <div layout="row" ng-if="fb.user.description">
        <div flex="33">
          <p>Description:</p>
        </div>
        <div flex="66">
          <p ng-bind="fb.user.description"></p>
        </div>
      </div>
      <div layout="row" ng-if="fb.user.link">
        <div flex="33">
          <p>Link:</p>
        </div>
        <div flex="66" class="link" ng-click="link(fb.user.link)">
          <p ng-bind="fb.user.link"></p>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>

