fli-home-widget-trends {
  display: block;
}

fli-home-widget-trends .md-card-image {
  min-height: 100px;
  max-height: 100px;
  min-width: 100px;
  max-width: 100px;
}

fli-home-widget-trends .img {
  min-height: 100px;
  max-height: 100px;
  min-width: 100px;
  max-width: 100px;
  margin-right: 5px;
  float: left;
}
