<div class="block" ng-if="fli.user">
  <img class="circle" ng-src="{{setting.fbImg(fli.user.attributes.authData.facebook.id)}}">
  <md-button class="md-icon-button link" aria-label="fb-logout" ng-click="setting.logOut()">
    <i class="fa fa-sign-out fa-2x"></i>
  </md-button>
</div>

<div class="block margin">
  <div class="title" translate="index.core.uix.setting.locale"></div>
  <fli-locale-panel></fli-locale-panel>
</div>

<div class="block" layout="row">
  <md-switch class="md-primary" ng-model="setting.notice" aria-label="switch notice" ng-change="setting.toggleNotice()"></md-switch>
  <div flex class="title" translate="index.core.uix.setting.notice"></div>
</div>

<div class="block" layout="row" layout-align="center center" ng-if="fli.platform==='site'">
  <fli-apps></fli-apps>
</div>


