fli-setting {
  display: block;
}

#setting fli-setting {
  margin-top: 25px;
}

#setting .margin {
  margin-left: 50px;
}

#setting .title {
  padding-bottom: 7px;
  border-bottom: 1px solid #cccccc;
  color: #999999;
}

#setting md-switch,
#setting .md-icon-button {
  margin: 0;
}
