fli-menu-items md-whiteframe,
md-whiteframe.menu {
  color: #999999;
  cursor: pointer;
  margin: 5px;
  padding: 0;
  height: 35px;
  outline: 0;
}

fli-menu-items md-whiteframe .fa,
.menu .fa {
  margin: 10px 15px 0 17px;
}

fli-menu-items md-whiteframe a,
.menu a {
  text-decoration: none;
  outline: 0;
}

fli-menu-items .nav i {
  color: rgb(63, 81, 181);
}
