<div flex layout="row" class="nav">
  <md-whiteframe layout="row" flex class="md-whiteframe-z3" ng-click="itemCtrl.back()" aria-label="back">
    <div>
      <i class="fa fa-arrow-left"></i>
      <span hide-sm>Back</span>
    </div>
  </md-whiteframe>
  <md-whiteframe layout="row" flex layout-align-sm="center start" class="md-whiteframe-z3" ng-click="itemCtrl.hide()"
                 aria-label="hide">
    <div>
      <i class="fa fa-arrow-up"></i>
      <span hide-sm>Hide</span>
    </div>
  </md-whiteframe>
  <md-whiteframe layout="row" flex layout-align-sm="end start" class="md-whiteframe-z3" ng-click="itemCtrl.forward()"
                 aria-label="forward">
    <div>
      <i class="fa fa-arrow-right"></i>
      <span hide-sm>Forward</span>
    </div>
  </md-whiteframe>
</div>

<md-whiteframe flex class="md-whiteframe-z3" layout="row" ng-repeat="item in menu">
  <a flex ng-if="!item.action" ng-href="{{item.href}}">
    <i class="fa fa-{{item.icon}}"></i>
    <span ng-bind="item.name"></span>
  </a>
  <a flex ng-if="!!item.action" ng-click="item.action()">
    <i class="fa fa-{{item.icon}}"></i>
    <span ng-bind="item.name"></span>
  </a>
</md-whiteframe>

