fli-share {
  display: block;
}

fli-share .fli-item .md-card-image,
fli-share .fli-item .img {
  min-width: 150px;
  max-width: 150px;
}

fli-share .fli-item .img {
  margin-right: 5px;
  float: left;
}

fli-share .fli-item .header {
  min-height: 150px;
  max-height: 150px;
  min-width: 100%;
  max-width: 100%;
}
