fli-search-result-audio {
  display: block;
}

fli-search-result-audio .audio-control {
  margin: 0;
  position: relative;
}

fli-search-result-audio .audio-control .md-icon-button {
  margin: 0;
}

fli-search-result-audio .audio-control .title {
  margin-top: 17px;
  font-size: 12px;
}

fli-search-result-audio .active {
  background: #dfdfdf;
}

fli-search-result-audio md-card {
  outline: 0;
}
