<div ng-if="richCtrl.item">
  <div ng-if="richCtrl.item.title">
    <fli-item ng-init="fliItem = {
          small:1,
          nofill:1,
          url:richCtrl.item.url,
          img:richCtrl.item.img,
          title:richCtrl.item.title,
          content:richCtrl.item.content
          };">

    </fli-item>
  </div>

  <div ng-if="fli.route.type !== 'rss' && richCtrl.item.rss" layout="column" layout-align="center center">
    <md-button aria-label="subscribe" class="md-primary link" ng-click="richCtrl.subscribe(richCtrl.item)">
      <i class="fa fa-rss fa-2x"></i>
      <span translate="look.subscribe"></span>
    </md-button>
  </div>
</div>
